body  {
  margin: 0;
  padding: 0;
  text-align: center;
  display: table;
}
.background {
  width: 620px;
  height: 465px;
  position: absolute;
  background-color: #669CF5;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.circleIntro {
  width: 550px;
  height: 550px;
  border-radius: 50%;
  position: absolute;
  background-color: #FFF;
  margin: auto;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 0;
  opacity: 0.1;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: .4;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@keyframes zoomIn {
  0% {
    opacity: .4;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.zoomIn {
  -webkit-animation: zoomIn 1s;
  animation: zoomIn 1s;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  background-color: #FBE559;
  margin: auto;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 0;
}

.sun {
    height: 100%;
    width: 100%;
}

@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, -180deg) scale(0.8);
            transform: rotate3d(0, 0, 1, -180deg) scale(0.8);
    opacity: 1;
  }

  100% {
    -webkit-transform: none scale(1) ;
            transform: none scale(1) ;
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, -180deg) scale(0.7);
            transform: rotate3d(0, 0, 1, -180deg) scale(0.7);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: scale(1) none;
            transform: scale(1) none;
    opacity: 1;
  }
}

.rotateIn {
  -webkit-animation: rotateIn 1.9s;
          animation: rotateIn 1.9s;
}


.triangle-up {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #e7b438;
  position: absolute;
  top: 133px;
  left: 280px;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #a68230;
  position: absolute;
  top: 301px;
  left: 280px;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-right: 30px solid #e7b438;
  border-bottom: 30px solid transparent;
  position: absolute;
  top: 203px;
  left: 211px;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-left: 30px solid #a68230;
  border-bottom: 30px solid transparent;
  position: absolute;
  top: 203px;
  right: 211px;
}

.triangle-topleft {
  width: 0;
  height: 0;
  border-top: 40px solid #f7df8b;
  border-right: 40px solid transparent;
  display: inline-block;
  position: absolute;
  top: 163px;
  left: 240px;
}

.triangle-topright {
  width: 0;
  height: 0;
  border-top: 40px solid  #dfb237;
  border-left: 40px solid transparent;
  display: inline-block;
  top: 163px;
  right: 240px;
  position: absolute;
}

.triangle-bottomleft {
  width: 0;
  height: 0;
  border-bottom: 40px solid  #dfb237;
  border-right: 40px solid transparent;
  display: inline-block;
  left: 242px;
  top: 262px;
  position: absolute;
}

.triangle-bottomright {
  width: 0;
  height: 0;
  border-bottom: 40px solid  #7b6028;
  border-left: 40px solid transparent;
  display: inline-block;
  right: 242px;
  top: 262px;
  position: absolute;
}

.clouds {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
}

.cloud-1 {
  width: 52px; height: 30px;
  background: #FFF !important;
  border-radius: 20px 20px 0 2px;
  -webkit-border-radius: 20px 20px 0 2px;
  -moz-border-radius: 20px 20px 0 2px;
  position: absolute;
  top: 245px;
  left: 310px;
  opacity: 1;
}

.cloud-2 {
  width: 40px; height: 40px;
  top: 217px; left: 325px;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  content: '';
  position: absolute;
  background: #FFF;
  opacity: 1;
}

.cloud-3 {
  width: 40px; height: 40px;
  top: 225px; right: 222px;
  border-radius: 30px 25px 0 0;
  -webkit-border-radius: 30px 25px 0 0;
  -moz-border-radius: 30px 25px 0 0;
  content: '';
  position: absolute;
  background: #FFF;
  opacity: 1;
}

.cloud-4 {
  width: 55px; height: 27px;
  background: #FFF;
  border-radius: 100px 250px 54px 0;
  -webkit-border-radius: 100px 250px 54px 0;
  -moz-border-radius: 100px 250px 54px 0;
  position: absolute;
  top: 248px;
  left: 362px;
  display: block;
  opacity: 1;
}

.cloud-shadow {
  width: 45px; height: 28px;
  background: transparent !important;
  border-radius: 0 0 150px 0;
  -webkit-border-radius: 0 0 150px 0;
  -moz-border-radius: 0 0 150px 0;
  position: absolute;
  top: 245px;
  left: 308px;
  display: block;
  opacity: 1;
  text-shadow: none !important;
}

.opacity {
  opacity: 0;
}

@-webkit-keyframes fadeInLeftCloud1 {
  0% {
    opacity: 1;
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transform: translate3d(-50%, 0, 0) scale3d(.3, .3, .3);
            transform: translate3d(-50%, 0, 0) scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(1.2, 1, 1.2);
            transform: scale3d(1.2, 1, 1.2);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(1.13, 1, 1.13);
            transform: scale3d(1.13, 1, 1.13);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes fadeInLeftCloud1 {
  0% {
    opacity: 1;
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transform: translate3d(-50%, 0, 0) scale3d(.3, .3, .3);
            transform: translate3d(-50%, 0, 0) scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(1.2, 1, 1.2);
            transform: scale3d(1.2, 1, 1.2);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(1.13, 1, 1.13);
            transform: scale3d(1.13, 1, 1.13);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.fadeInLeftCloud1 {
  -webkit-animation: fadeInLeftCloud1 2s;
  animation: fadeInLeftCloud1 2s;
  -webkit-animation-delay: .5s;
  -o-animation-delay: .5s;
  animation-delay: .5s;
}

@-webkit-keyframes fadeInLeftCloud2 {
  0% {
    opacity: 1;
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transform: translate3d(0, 40%, 0) scale3d(.1, .1, .1);
            transform: translate3d(0, 40%, 0) scale3d(.1, .1, .1);
  }

  20% {
    opacity: ;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    opacity: 1;
    -webkit-transform: scale3d(.9, .8, 1);
            transform: scale3d(.9, .8, 1);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
            transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes fadeInLeftCloud2 {
  0% {
    opacity: 1;
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transform: translate3d(0, 40%, 0) scale3d(.1, .1, .1);
            transform: translate3d(0, 40%, 0) scale3d(.1, .1, .1);
  }

  20% {
    opacity: ;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    opacity: 1;
    -webkit-transform: scale3d(.9, .8, 1);
            transform: scale3d(.9, .8, 1);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
            transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.fadeInLeftCloud2 {
  -webkit-animation: fadeInLeftCloud2 2s;
  animation: fadeInLeftCloud2 2s;
  -webkit-animation-delay: .6s;
  -o-animation-delay: .6s;
  animation-delay: .6s;
}

@-webkit-keyframes fadeInLeftCloud3 {
  0% {
    opacity: 1;
    -webkit-transform-origin: bottom bottom;
            transform-origin: bottom bottom;
    -webkit-transform: translate3d(-120%, 40%, 0) scale3d(.1, .1, .1);
            transform: translate3d(-120%, 40%, 0) scale3d(.1, .1, .1);
  }

  20% {
    opacity: ;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    opacity: 1;
    -webkit-transform: scale3d(1.09, 1, .9);
            transform: scale3d(1.09, 1, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
            transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes fadeInLeftCloud3 {
  0% {
    opacity: 1;
    -webkit-transform-origin: bottom bottom;
            transform-origin: bottom bottom;
    -webkit-transform: translate3d(-120%, 40%, 0) scale3d(.1, .1, .1);
            transform: translate3d(-120%, 40%, 0) scale3d(.1, .1, .1);
  }

  20% {
    opacity: ;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    opacity: 1;
    -webkit-transform: scale3d(1.09, 1, .9);
            transform: scale3d(1.09, 1, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
            transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.fadeInLeftCloud3 {
  -webkit-animation: fadeInLeftCloud3 2s;
  animation: fadeInLeftCloud3 2s;
  -webkit-animation-delay: .6s;
  -o-animation-delay: .6s;
  animation-delay: .6s;
}

@-webkit-keyframes fadeInLeftCloud4 {
  0% {
    opacity: 1;
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transform: translate3d(-110%, 0, 0) scale3d(.3, .3, .3);
            transform: translate3d(-110%, 0, 0) scale3d(.3, .3, .3);
  }

  20% {
    opacity: ;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
            transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: none scale3d(1, 1, 1);
            transform: none scale3d(1, 1, 1);
  }
}

@keyframes fadeInLeftCloud4 {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
  }

  0% {
    opacity: 1;
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transform: translate3d(-100%, 0, 0) scale3d(.1, .1, .1);
            transform: translate3d(-100%, 0, 0) scale3d(.1, .1, .1);
  }

  20% {
    opacity: ;
    -webkit-transform: translate3d(-20%, -30%, 0) scale3d(1.1, 1.1, 1.1);
            transform: translate3d(-20%, -30%, 0) scale3d(1.1, 1.1, 1.1);
  }

  40% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
            transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: none scale3d(1, 1, 1);
            transform: none scale3d(1, 1, 1);
  }
}

.fadeInLeftCloud4 {
  -webkit-animation: fadeInLeftCloud4 2s ;
  animation: fadeInLeftCloud4 2s;
  -webkit-animation-delay: .6s;
  -o-animation-delay: .6s;
  animation-delay: .6s;
}

@-webkit-keyframes fadeInLeftShadow {
  0% {
    opacity: 0;
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transform: translate3d(-10%, 0, 0) scale(0);
            transform: translate3d(-10%, 0, 0) scale(0);
  }

  10% {
    opacity: 0;
  }

  25% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1) none;
            transform: scale(1) none;
  }
}

@keyframes fadeInLeftShadow {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0) scale(0);
            transform: translate3d(-20%, 0, 0) scale(0);
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1) none;
            transform: scale(1) none;
  }
}

.fadeInLeftShadow {
  -webkit-animation: fadeInLeftShadow 2.4s ;
  animation: fadeInLeftShadow 2.4s;
  -webkit-animation-delay: .1s;
  -o-animation-delay: .1s;
  animation-delay: .1s;
}


@-webkit-keyframes fadeInLeftSun {
  0% {
    opacity: 1;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  25% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadeInLeftSun {
  0% {
    opacity: 0.7;
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }

  25% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1) none;
            transform: scale(1) none;
  }
}

.fadeInLeftSun {
  -webkit-animation: fadeInLeftSun 0.5s;
  animation: fadeInLeftSun .5s;
  transition-timing-function: ease-in;
}

